<%include ../components/header.ejs%>
<%include ../components/masthead-menu.ejs%>
<h3>Welcome to the Publisher Pals Submission System!</h3>
<p>Please enter your information below.</p>
<hr>
<form>
    <div class="form-group">
        <label for="inputFirstName">First name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
    </div>
    <div class="form-group">
        <label for="inputLastName">Last name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="orcidId">ORCID iD</label><br>
        <div class="col-xs-6">
            <input name="orcidId" class="form-control" type="text" placeholder="http://orcid.org/XXXX-XXXX-XXXX-XXXX" readonly>
        </div>
        <a class="btn btn-default popup" id="oauth">
            <img id="orcid-id-logo" src="//orcid.org/sites/default/files/images/orcid_16x16.png" width='16' height='16' alt="ORCID logo" /> Create or Connect your ORCID iD
        </a>
        <br><br>
        <div class="alert alert-info alert-info-gray" id="orcid-info">
            <p>
            <a href="https://orcid.org/about" target="_blank">ORCID</a> provides a persistent digital identifier that distinguishes you from other researchers. Publisher Pals uses ORCID iDs to make sure that your publications are correctly attributed to you, and not to another author with a similar name.
            </p>
            <p>
            Publisher Pals also works with <a href="https://localhost:9443" target="_blank">DOI Dudes</a> to automatically add your new publications to your ORCID record. After connecting your ORCID iD to Publisher Pals, you will have the option to give DOI Dudes permission to update your ORCID record.
            </p>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

 <%include ../components/footer.ejs%>
