<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Double ORCID OAuth2 NodeJS</title>
		<link href='//fonts.googleapis.com/css?family=Source+Code+Pro:300' rel='stylesheet' type='text/css'>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	    <!-- Favicon -->
	    <link rel="icon" type="image/png" href="http://orcid.org/sites/default/files/images/orcid_16x16.png" />
	    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <script type="text/javascript">
            var hasOrcid = function () {
            	$.ajax({
                    dataType: "json",
                    url: '/orcid-id.json',
                    success: function(data) {
                    	if (data.orcid_id)
                        $('input[name="orcidId"]').val(data.orcid_id);
                    	else
                    		setTimeout(hasOrcid, 300);
                    }
                });
            };
            hasOrcid();
        </script>
        <script type=text/javascript>
          $(document).ready(function(){
            $("#oauth").click(function(){
                //get first name, last name and email from form input
                if($('#inputFirstName').val().length > 0){
                  var firstName = $('#inputFirstName').val();
                } else {
                  var firstName='';
                }
                if($('#inputLastName').val().length > 0){
                  var lastName = $('#inputLastName').val();
                } else {
                  var lastName='';
                }
                if($('#inputEmail').val().length > 0){
                  var email = $('#inputEmail').val();
                } else {
                  var email='';
                }
                //add names and email to authorization url (prefill oauth signin/register form)
                var url = "<%- authorization_uri %>" + "&family_names=" + lastName + "&given_names=" + firstName + "&email=" + email;
                //open oauth window in popup
                var oauthWindow = window.open(url, "_blank", "toolbar=no, scrollbars=yes, width=500, height=600, top=500, left=500");
                setTimeout(function () { oauthWindow.close();}, 16000);
              });
              
              $("#close").click(function(){
                window.close();
              });
          });
        </script>
	</head>
  	<body>
    <div class="container-narrow">
