<%include ../components/header.ejs%>
<%include ../components/masthead-nomenu.ejs%>
<div class="jumbotron">
    <h2>ORCID connection to DOI Dudes not completed</h2>
    <p>
    We're sorry that you're not interested in connecting ORCID iD to DOI Dudes.
    </p>
    <p>
    Keep in mind that, until you add your ORCID iD, we won't be able to update your ORCID record automatically.
    </p>
    <p><a class="btn btn-primary" href="<%= authorization_uri %>">Try again</a></p>
    <a id="close">No thanks, close & return to manuscript submission</a>
</div>   
<%include ../components/footer.ejs%>