body {
  //background: #000;
  //background: #8dc63f;
  background: #009444;
  //background: #00612d;
  //background: #ec008c;
  //background: #f7941e;
}

a {
  cursor: pointer;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  padding: 1em 2em;
  max-width: 700px;
  background: #fff;
}
.container-narrow > hr {
  margin: .5em 0 2em 0;
}
/* Main message*/
.jumbotron {
  text-align: center;
  padding: 2em 2em;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron p {
  font-size: 1.2em;
}
.jumbotron .btn {
  //font-size: 1.4em;
  padding: 1em 2em;
}
/* ORCID iD form field */
.form-group .col-xs-6{
  padding-left: 0;
}
/*ORCID info text*/
.alert-info-gray{
  background-color: #eee;
  border-color: #ccc;
  color: #555;
}

.btn, .nav li.active a{
  background-color: #ec008c;
  border-color: #ec008c;
}

ul.nav{
  margin-top: 4em;
}
