.container{
	margin-top: 15px;
}

.container p{
	font-size: 14px;
}

.container p.note{
	font-size: 18px;
	text-align: center;
}

.container h1{
	text-align: center;
	color: #a6ce39;
}

.container h2{
	color: #338caf;
}

.container .jumbotron > p.home{
	width: 100%;
	text-align: center;
}

.container .btn-default{
	background: #338caf;
	color: #FFF;
	border: none;
	font-weight: normal;
	text-shadow: none;
}

.container .btn-default:hover{
	background: #a6ce39;
	color: #FFF;
}

.container pre{
	text-align: left;
	background: #FFF;
	font-family: 'Source Code Pro', 'Verdana';
	font-weight: 300;
}