<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Double ORCID OAuth2 NodeJS</title>
		<link href='//fonts.googleapis.com/css?family=Source+Code+Pro:300' rel='stylesheet' type='text/css'>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	    <!-- Favicon -->
	    <link rel="icon" type="image/png" href="http://orcid.org/sites/default/files/images/orcid_16x16.png" />	
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
        <script type=text/javascript>
      $(document).ready(function(){
        //open oauth screen in popup and prefill form
        $("#oauth").click(function(){
            //open oauth window in popup
            var oauthWindow = window.open("<%- authorization_uri %>", "ORCID", "toolbar=no, scrollbars=yes, width=500, height=600, top=500, left=500");
            //close popup automatically
            setTimeout(function () { oauthWindow.close();}, 40000);
          });
          //close popup manually
          $("#close").click(function(){
            window.close();
          });
      });
    </script>
        <script type=text/javascript>
          $(document).ready(function(){
              $("#close").click(function(){
                self.close();
              });
          });
        </script>	
	</head>
  	<body>
    <div class="container-narrow">
      <div class="alert alert-warning">
        <p>
        This sample sandbox client application demonstrates a simple client application interacting with <a href="http://members.orcid.org/api/oauth2">ORCID OAuth2</a> service. For a comprehensive overview visit <a href="http://members.orcid.org/api" target="member_api">http://members.orcid.org/api</a>.
        </p>
      </div>
