      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="https://www.doi.org/" target="_blank">About Us</a></li>
          <li><a href="https://orcid.org/help/contact-us" target="_blank">Help</a></li>
        </ul>
        <img src="img/doi-dudes.svg" alt="DOI Dudes" width="260px" />
      </div>
      <hr>